
services:
  mysql:
    image: mysql:latest
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: backendTeste
      MYSQL_USER: user
      MYSQL_PASSWORD: password

volumes:
  mysql_data: